@mixin button() {
  .button {
    padding: rem(1.2) rem(6);

    &--border {
      border: rem(1) solid $color-black;

      &:not(:last-child) {
        border-right: none;
      }

      &:last-child {
        border-bottom-right-radius: rem(10);
        border-top-right-radius: rem(10);
      }
    }
  }
}
