@mixin notification() {
  .notification {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    &-show {
      display: block;
      display: flex;
      justify-content: center;
    }

    .message {
      position: relative;
      margin: auto;
      padding: 0;
      border: 1px solid #888;
      width: 100%;
      -webkit-animation-name: animatetop;
      -webkit-animation-duration: 0.4s;
      animation-name: animatetop;
      animation-duration: 0.4s;
    }
    .errorMessage {
      background-color: $color-error;
    }

    .successMessage {
      background-color: $color-success;
    }

    .warningMessage {
      background-color: $color-warning;
    }
  }
  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
}

// $color-success, $color-error
