//clear sky color scheme

$color-black: #000;
$color-white: #fff;
$color-gradient-1: #005c97;
$color-gradient-2: #363795;

$shadow: rgba(0, 0, 0, 0.2);

$color-button-background: #f8f8f8;
$color-border: #a3dcff;

$color-success: rgb(0, 170, 0);
$color-error: rgb(238, 1, 1);
$color-warning: rgb(238, 143, 1);
