.index-layout {
  margin: 0 auto;
  max-width: rem(1120px);
  width: 100%;
  padding: 0 rem(16px);
}

.index-layout__toolbar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: rem(8px);
}

#language-switcher-feature {
  max-width: rem(320px);
  width: 100%;
}
