@mixin task-form() {
  .form-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: rem(48);
    display: flex;
    justify-content: center;
    background: $fallback;
    background: $linear-gradient-clear-sky-webkit;
    background: $linear-gradient-clear-sky;
  }

  #taskForm {
    display: flex;
    flex-flow: row;
    align-items: center;
  }

  .input {
    &__add-task {
      border: rem(1) solid $color-black;
      border-bottom-left-radius: rem(10);
      border-top-left-radius: rem(10);
      border-right: none;
    }
  }
}
