@mixin task-list-holder() {
  .task-list-holder {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: $color-white;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
