greeting-atom {
  display: block;
}

.greeting-atom {
  display: block;
  font-family: sans-serif;
  padding: rem(16px);
  border-radius: rem(8px);
  background: #f4f4f4;
}

.greeting-atom h1 {
  margin: 0;
}
