@function layout-breakpoint-min($name) {
  @return map-get($layout-breakpoints, $name);
}

@function layout-breakpoint-infix($name) {
  @if $name == xs {
    @return "";
  }

  @return "-#{$name}";
}

@mixin layout-breakpoint-up($name) {
  $min: layout-breakpoint-min($name);

  @if $min == null {
    @error "Unknown breakpoint `#{$name}`.";
  }

  @if $min == 0 {
    @content;
  } @else {
    @media (min-width: $min) {
      @content;
    }
  }
}

@mixin make-col-ready() {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
  width: 100%;
  min-height: rem(1px);
  padding-right: calc(var(--layout-gutter-x) * 0.5);
  padding-left: calc(var(--layout-gutter-x) * 0.5);
}

@mixin make-col($size, $columns: $layout-columns) {
  $width: percentage($size / $columns);

  flex: 0 0 $width;
  max-width: $width;
}

@mixin make-col-offset($size, $columns: $layout-columns) {
  margin-left: percentage($size / $columns);
}
