:root {
  --layout-gutter-x: 1.5rem;
  --layout-gutter-y: 0;
}

.container,
.container-fluid {
  box-sizing: border-box;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 33.75rem;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 45rem;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 60rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 71.25rem;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 82.5rem;
  }
}

.row {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(var(--layout-gutter-x) * -0.5);
  margin-left: calc(var(--layout-gutter-x) * -0.5);
  row-gap: var(--layout-gutter-y);
}

.row > * {
  position: relative;
  min-width: 0;
  width: 100%;
  min-height: 0.0625rem;
  padding-right: calc(var(--layout-gutter-x) * 0.5);
  padding-left: calc(var(--layout-gutter-x) * 0.5);
  box-sizing: border-box;
}

.row--no-gutters {
  --layout-gutter-x: 0;
  --layout-gutter-y: 0;
}

.w-100 {
  width: 100% !important;
}

.col {
  flex: 1 0 0%;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}
.col-1 {
  flex: 0 0 8.33333333%;
  max-width: 8.33333333%;
}
.col-2 {
  flex: 0 0 16.66666667%;
  max-width: 16.66666667%;
}
.col-3 {
  flex: 0 0 25.00000000%;
  max-width: 25.00000000%;
}
.col-4 {
  flex: 0 0 33.33333333%;
  max-width: 33.33333333%;
}
.col-5 {
  flex: 0 0 41.66666667%;
  max-width: 41.66666667%;
}
.col-6 {
  flex: 0 0 50.00000000%;
  max-width: 50.00000000%;
}
.col-7 {
  flex: 0 0 58.33333333%;
  max-width: 58.33333333%;
}
.col-8 {
  flex: 0 0 66.66666667%;
  max-width: 66.66666667%;
}
.col-9 {
  flex: 0 0 75.00000000%;
  max-width: 75.00000000%;
}
.col-10 {
  flex: 0 0 83.33333333%;
  max-width: 83.33333333%;
}
.col-11 {
  flex: 0 0 91.66666667%;
  max-width: 91.66666667%;
}
.col-12 {
  flex: 0 0 100.00000000%;
  max-width: 100.00000000%;
}
.offset-0 {
  margin-left: 0;
}
.offset-1 {
  margin-left: 8.33333333%;
}
.offset-2 {
  margin-left: 16.66666667%;
}
.offset-3 {
  margin-left: 25.00000000%;
}
.offset-4 {
  margin-left: 33.33333333%;
}
.offset-5 {
  margin-left: 41.66666667%;
}
.offset-6 {
  margin-left: 50.00000000%;
}
.offset-7 {
  margin-left: 58.33333333%;
}
.offset-8 {
  margin-left: 66.66666667%;
}
.offset-9 {
  margin-left: 75.00000000%;
}
.offset-10 {
  margin-left: 83.33333333%;
}
.offset-11 {
  margin-left: 91.66666667%;
}
.row-cols-1 > * {
  flex: 0 0 100.00000000%;
  max-width: 100.00000000%;
}
.row-cols-2 > * {
  flex: 0 0 50.00000000%;
  max-width: 50.00000000%;
}
.row-cols-3 > * {
  flex: 0 0 33.33333333%;
  max-width: 33.33333333%;
}
.row-cols-4 > * {
  flex: 0 0 25.00000000%;
  max-width: 25.00000000%;
}
.row-cols-5 > * {
  flex: 0 0 20.00000000%;
  max-width: 20.00000000%;
}
.row-cols-6 > * {
  flex: 0 0 16.66666667%;
  max-width: 16.66666667%;
}
.row-cols-7 > * {
  flex: 0 0 14.28571429%;
  max-width: 14.28571429%;
}
.row-cols-8 > * {
  flex: 0 0 12.50000000%;
  max-width: 12.50000000%;
}
.row-cols-9 > * {
  flex: 0 0 11.11111111%;
  max-width: 11.11111111%;
}
.row-cols-10 > * {
  flex: 0 0 10.00000000%;
  max-width: 10.00000000%;
}
.row-cols-11 > * {
  flex: 0 0 9.09090909%;
  max-width: 9.09090909%;
}
.row-cols-12 > * {
  flex: 0 0 8.33333333%;
  max-width: 8.33333333%;
}
.order-first {
  order: -1;
}

.order-last {
  order: 13;
}
.order-0 {
  order: 0;
}
.order-1 {
  order: 1;
}
.order-2 {
  order: 2;
}
.order-3 {
  order: 3;
}
.order-4 {
  order: 4;
}
.order-5 {
  order: 5;
}
.order-6 {
  order: 6;
}
.order-7 {
  order: 7;
}
.order-8 {
  order: 8;
}
.order-9 {
  order: 9;
}
.order-10 {
  order: 10;
}
.order-11 {
  order: 11;
}
.order-12 {
  order: 12;
}
@media (min-width: 576px) {
  .col-sm {
    flex: 1 0 0%;
    max-width: 100%;
  }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-sm-1 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
  .col-sm-2 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-sm-3 {
    flex: 0 0 25.00000000%;
    max-width: 25.00000000%;
  }
  .col-sm-4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-sm-5 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
  .col-sm-6 {
    flex: 0 0 50.00000000%;
    max-width: 50.00000000%;
  }
  .col-sm-7 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-sm-8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-sm-9 {
    flex: 0 0 75.00000000%;
    max-width: 75.00000000%;
  }
  .col-sm-10 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
  .col-sm-11 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
  .col-sm-12 {
    flex: 0 0 100.00000000%;
    max-width: 100.00000000%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.33333333%;
  }
  .offset-sm-2 {
    margin-left: 16.66666667%;
  }
  .offset-sm-3 {
    margin-left: 25.00000000%;
  }
  .offset-sm-4 {
    margin-left: 33.33333333%;
  }
  .offset-sm-5 {
    margin-left: 41.66666667%;
  }
  .offset-sm-6 {
    margin-left: 50.00000000%;
  }
  .offset-sm-7 {
    margin-left: 58.33333333%;
  }
  .offset-sm-8 {
    margin-left: 66.66666667%;
  }
  .offset-sm-9 {
    margin-left: 75.00000000%;
  }
  .offset-sm-10 {
    margin-left: 83.33333333%;
  }
  .offset-sm-11 {
    margin-left: 91.66666667%;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 100.00000000%;
    max-width: 100.00000000%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 50.00000000%;
    max-width: 50.00000000%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 25.00000000%;
    max-width: 25.00000000%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 20.00000000%;
    max-width: 20.00000000%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .row-cols-sm-7 > * {
    flex: 0 0 14.28571429%;
    max-width: 14.28571429%;
  }
  .row-cols-sm-8 > * {
    flex: 0 0 12.50000000%;
    max-width: 12.50000000%;
  }
  .row-cols-sm-9 > * {
    flex: 0 0 11.11111111%;
    max-width: 11.11111111%;
  }
  .row-cols-sm-10 > * {
    flex: 0 0 10.00000000%;
    max-width: 10.00000000%;
  }
  .row-cols-sm-11 > * {
    flex: 0 0 9.09090909%;
    max-width: 9.09090909%;
  }
  .row-cols-sm-12 > * {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
  .order-sm-first {
    order: -1;
  }

  .order-sm-last {
    order: 13;
  }
  .order-sm-0 {
    order: 0;
  }
  .order-sm-1 {
    order: 1;
  }
  .order-sm-2 {
    order: 2;
  }
  .order-sm-3 {
    order: 3;
  }
  .order-sm-4 {
    order: 4;
  }
  .order-sm-5 {
    order: 5;
  }
  .order-sm-6 {
    order: 6;
  }
  .order-sm-7 {
    order: 7;
  }
  .order-sm-8 {
    order: 8;
  }
  .order-sm-9 {
    order: 9;
  }
  .order-sm-10 {
    order: 10;
  }
  .order-sm-11 {
    order: 11;
  }
  .order-sm-12 {
    order: 12;
  }
}
@media (min-width: 768px) {
  .col-md {
    flex: 1 0 0%;
    max-width: 100%;
  }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-md-1 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
  .col-md-2 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-md-3 {
    flex: 0 0 25.00000000%;
    max-width: 25.00000000%;
  }
  .col-md-4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-md-5 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
  .col-md-6 {
    flex: 0 0 50.00000000%;
    max-width: 50.00000000%;
  }
  .col-md-7 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-md-8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-md-9 {
    flex: 0 0 75.00000000%;
    max-width: 75.00000000%;
  }
  .col-md-10 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
  .col-md-11 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
  .col-md-12 {
    flex: 0 0 100.00000000%;
    max-width: 100.00000000%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.33333333%;
  }
  .offset-md-2 {
    margin-left: 16.66666667%;
  }
  .offset-md-3 {
    margin-left: 25.00000000%;
  }
  .offset-md-4 {
    margin-left: 33.33333333%;
  }
  .offset-md-5 {
    margin-left: 41.66666667%;
  }
  .offset-md-6 {
    margin-left: 50.00000000%;
  }
  .offset-md-7 {
    margin-left: 58.33333333%;
  }
  .offset-md-8 {
    margin-left: 66.66666667%;
  }
  .offset-md-9 {
    margin-left: 75.00000000%;
  }
  .offset-md-10 {
    margin-left: 83.33333333%;
  }
  .offset-md-11 {
    margin-left: 91.66666667%;
  }
  .row-cols-md-1 > * {
    flex: 0 0 100.00000000%;
    max-width: 100.00000000%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 50.00000000%;
    max-width: 50.00000000%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 25.00000000%;
    max-width: 25.00000000%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 20.00000000%;
    max-width: 20.00000000%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .row-cols-md-7 > * {
    flex: 0 0 14.28571429%;
    max-width: 14.28571429%;
  }
  .row-cols-md-8 > * {
    flex: 0 0 12.50000000%;
    max-width: 12.50000000%;
  }
  .row-cols-md-9 > * {
    flex: 0 0 11.11111111%;
    max-width: 11.11111111%;
  }
  .row-cols-md-10 > * {
    flex: 0 0 10.00000000%;
    max-width: 10.00000000%;
  }
  .row-cols-md-11 > * {
    flex: 0 0 9.09090909%;
    max-width: 9.09090909%;
  }
  .row-cols-md-12 > * {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
  .order-md-first {
    order: -1;
  }

  .order-md-last {
    order: 13;
  }
  .order-md-0 {
    order: 0;
  }
  .order-md-1 {
    order: 1;
  }
  .order-md-2 {
    order: 2;
  }
  .order-md-3 {
    order: 3;
  }
  .order-md-4 {
    order: 4;
  }
  .order-md-5 {
    order: 5;
  }
  .order-md-6 {
    order: 6;
  }
  .order-md-7 {
    order: 7;
  }
  .order-md-8 {
    order: 8;
  }
  .order-md-9 {
    order: 9;
  }
  .order-md-10 {
    order: 10;
  }
  .order-md-11 {
    order: 11;
  }
  .order-md-12 {
    order: 12;
  }
}
@media (min-width: 992px) {
  .col-lg {
    flex: 1 0 0%;
    max-width: 100%;
  }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-lg-1 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
  .col-lg-2 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-lg-3 {
    flex: 0 0 25.00000000%;
    max-width: 25.00000000%;
  }
  .col-lg-4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-lg-5 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
  .col-lg-6 {
    flex: 0 0 50.00000000%;
    max-width: 50.00000000%;
  }
  .col-lg-7 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-lg-8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-lg-9 {
    flex: 0 0 75.00000000%;
    max-width: 75.00000000%;
  }
  .col-lg-10 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
  .col-lg-11 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
  .col-lg-12 {
    flex: 0 0 100.00000000%;
    max-width: 100.00000000%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.33333333%;
  }
  .offset-lg-2 {
    margin-left: 16.66666667%;
  }
  .offset-lg-3 {
    margin-left: 25.00000000%;
  }
  .offset-lg-4 {
    margin-left: 33.33333333%;
  }
  .offset-lg-5 {
    margin-left: 41.66666667%;
  }
  .offset-lg-6 {
    margin-left: 50.00000000%;
  }
  .offset-lg-7 {
    margin-left: 58.33333333%;
  }
  .offset-lg-8 {
    margin-left: 66.66666667%;
  }
  .offset-lg-9 {
    margin-left: 75.00000000%;
  }
  .offset-lg-10 {
    margin-left: 83.33333333%;
  }
  .offset-lg-11 {
    margin-left: 91.66666667%;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 100.00000000%;
    max-width: 100.00000000%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 50.00000000%;
    max-width: 50.00000000%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 25.00000000%;
    max-width: 25.00000000%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 20.00000000%;
    max-width: 20.00000000%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .row-cols-lg-7 > * {
    flex: 0 0 14.28571429%;
    max-width: 14.28571429%;
  }
  .row-cols-lg-8 > * {
    flex: 0 0 12.50000000%;
    max-width: 12.50000000%;
  }
  .row-cols-lg-9 > * {
    flex: 0 0 11.11111111%;
    max-width: 11.11111111%;
  }
  .row-cols-lg-10 > * {
    flex: 0 0 10.00000000%;
    max-width: 10.00000000%;
  }
  .row-cols-lg-11 > * {
    flex: 0 0 9.09090909%;
    max-width: 9.09090909%;
  }
  .row-cols-lg-12 > * {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
  .order-lg-first {
    order: -1;
  }

  .order-lg-last {
    order: 13;
  }
  .order-lg-0 {
    order: 0;
  }
  .order-lg-1 {
    order: 1;
  }
  .order-lg-2 {
    order: 2;
  }
  .order-lg-3 {
    order: 3;
  }
  .order-lg-4 {
    order: 4;
  }
  .order-lg-5 {
    order: 5;
  }
  .order-lg-6 {
    order: 6;
  }
  .order-lg-7 {
    order: 7;
  }
  .order-lg-8 {
    order: 8;
  }
  .order-lg-9 {
    order: 9;
  }
  .order-lg-10 {
    order: 10;
  }
  .order-lg-11 {
    order: 11;
  }
  .order-lg-12 {
    order: 12;
  }
}
@media (min-width: 1200px) {
  .col-xl {
    flex: 1 0 0%;
    max-width: 100%;
  }

  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-xl-1 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
  .col-xl-2 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-xl-3 {
    flex: 0 0 25.00000000%;
    max-width: 25.00000000%;
  }
  .col-xl-4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-xl-5 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
  .col-xl-6 {
    flex: 0 0 50.00000000%;
    max-width: 50.00000000%;
  }
  .col-xl-7 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-xl-8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-xl-9 {
    flex: 0 0 75.00000000%;
    max-width: 75.00000000%;
  }
  .col-xl-10 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
  .col-xl-11 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
  .col-xl-12 {
    flex: 0 0 100.00000000%;
    max-width: 100.00000000%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.33333333%;
  }
  .offset-xl-2 {
    margin-left: 16.66666667%;
  }
  .offset-xl-3 {
    margin-left: 25.00000000%;
  }
  .offset-xl-4 {
    margin-left: 33.33333333%;
  }
  .offset-xl-5 {
    margin-left: 41.66666667%;
  }
  .offset-xl-6 {
    margin-left: 50.00000000%;
  }
  .offset-xl-7 {
    margin-left: 58.33333333%;
  }
  .offset-xl-8 {
    margin-left: 66.66666667%;
  }
  .offset-xl-9 {
    margin-left: 75.00000000%;
  }
  .offset-xl-10 {
    margin-left: 83.33333333%;
  }
  .offset-xl-11 {
    margin-left: 91.66666667%;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 100.00000000%;
    max-width: 100.00000000%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 50.00000000%;
    max-width: 50.00000000%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 25.00000000%;
    max-width: 25.00000000%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 20.00000000%;
    max-width: 20.00000000%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .row-cols-xl-7 > * {
    flex: 0 0 14.28571429%;
    max-width: 14.28571429%;
  }
  .row-cols-xl-8 > * {
    flex: 0 0 12.50000000%;
    max-width: 12.50000000%;
  }
  .row-cols-xl-9 > * {
    flex: 0 0 11.11111111%;
    max-width: 11.11111111%;
  }
  .row-cols-xl-10 > * {
    flex: 0 0 10.00000000%;
    max-width: 10.00000000%;
  }
  .row-cols-xl-11 > * {
    flex: 0 0 9.09090909%;
    max-width: 9.09090909%;
  }
  .row-cols-xl-12 > * {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
  .order-xl-first {
    order: -1;
  }

  .order-xl-last {
    order: 13;
  }
  .order-xl-0 {
    order: 0;
  }
  .order-xl-1 {
    order: 1;
  }
  .order-xl-2 {
    order: 2;
  }
  .order-xl-3 {
    order: 3;
  }
  .order-xl-4 {
    order: 4;
  }
  .order-xl-5 {
    order: 5;
  }
  .order-xl-6 {
    order: 6;
  }
  .order-xl-7 {
    order: 7;
  }
  .order-xl-8 {
    order: 8;
  }
  .order-xl-9 {
    order: 9;
  }
  .order-xl-10 {
    order: 10;
  }
  .order-xl-11 {
    order: 11;
  }
  .order-xl-12 {
    order: 12;
  }
}
@media (min-width: 1440px) {
  .col-xxl {
    flex: 1 0 0%;
    max-width: 100%;
  }

  .col-xxl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-xxl-1 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
  .col-xxl-2 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-xxl-3 {
    flex: 0 0 25.00000000%;
    max-width: 25.00000000%;
  }
  .col-xxl-4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-xxl-5 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
  .col-xxl-6 {
    flex: 0 0 50.00000000%;
    max-width: 50.00000000%;
  }
  .col-xxl-7 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-xxl-8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-xxl-9 {
    flex: 0 0 75.00000000%;
    max-width: 75.00000000%;
  }
  .col-xxl-10 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
  .col-xxl-11 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
  .col-xxl-12 {
    flex: 0 0 100.00000000%;
    max-width: 100.00000000%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.33333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.66666667%;
  }
  .offset-xxl-3 {
    margin-left: 25.00000000%;
  }
  .offset-xxl-4 {
    margin-left: 33.33333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.66666667%;
  }
  .offset-xxl-6 {
    margin-left: 50.00000000%;
  }
  .offset-xxl-7 {
    margin-left: 58.33333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.66666667%;
  }
  .offset-xxl-9 {
    margin-left: 75.00000000%;
  }
  .offset-xxl-10 {
    margin-left: 83.33333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.66666667%;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 100.00000000%;
    max-width: 100.00000000%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 50.00000000%;
    max-width: 50.00000000%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 25.00000000%;
    max-width: 25.00000000%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 20.00000000%;
    max-width: 20.00000000%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .row-cols-xxl-7 > * {
    flex: 0 0 14.28571429%;
    max-width: 14.28571429%;
  }
  .row-cols-xxl-8 > * {
    flex: 0 0 12.50000000%;
    max-width: 12.50000000%;
  }
  .row-cols-xxl-9 > * {
    flex: 0 0 11.11111111%;
    max-width: 11.11111111%;
  }
  .row-cols-xxl-10 > * {
    flex: 0 0 10.00000000%;
    max-width: 10.00000000%;
  }
  .row-cols-xxl-11 > * {
    flex: 0 0 9.09090909%;
    max-width: 9.09090909%;
  }
  .row-cols-xxl-12 > * {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
  .order-xxl-first {
    order: -1;
  }

  .order-xxl-last {
    order: 13;
  }
  .order-xxl-0 {
    order: 0;
  }
  .order-xxl-1 {
    order: 1;
  }
  .order-xxl-2 {
    order: 2;
  }
  .order-xxl-3 {
    order: 3;
  }
  .order-xxl-4 {
    order: 4;
  }
  .order-xxl-5 {
    order: 5;
  }
  .order-xxl-6 {
    order: 6;
  }
  .order-xxl-7 {
    order: 7;
  }
  .order-xxl-8 {
    order: 8;
  }
  .order-xxl-9 {
    order: 9;
  }
  .order-xxl-10 {
    order: 10;
  }
  .order-xxl-11 {
    order: 11;
  }
  .order-xxl-12 {
    order: 12;
  }
}
.g-0 {
  --layout-gutter-x: 0;
  --layout-gutter-y: 0;
}

.gx-0 {
  --layout-gutter-x: 0;
}

.gy-0 {
  --layout-gutter-y: 0;
}

.g-1 {
  --layout-gutter-x: 0.25rem;
  --layout-gutter-y: 0.25rem;
}

.gx-1 {
  --layout-gutter-x: 0.25rem;
}

.gy-1 {
  --layout-gutter-y: 0.25rem;
}

.g-2 {
  --layout-gutter-x: 0.5rem;
  --layout-gutter-y: 0.5rem;
}

.gx-2 {
  --layout-gutter-x: 0.5rem;
}

.gy-2 {
  --layout-gutter-y: 0.5rem;
}

.g-3 {
  --layout-gutter-x: 1rem;
  --layout-gutter-y: 1rem;
}

.gx-3 {
  --layout-gutter-x: 1rem;
}

.gy-3 {
  --layout-gutter-y: 1rem;
}

.g-4 {
  --layout-gutter-x: 1.5rem;
  --layout-gutter-y: 1.5rem;
}

.gx-4 {
  --layout-gutter-x: 1.5rem;
}

.gy-4 {
  --layout-gutter-y: 1.5rem;
}

.g-5 {
  --layout-gutter-x: 2rem;
  --layout-gutter-y: 2rem;
}

.gx-5 {
  --layout-gutter-x: 2rem;
}

.gy-5 {
  --layout-gutter-y: 2rem;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-stretch {
  align-items: stretch;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-flex {
  display: flex !important;
}
@media (min-width: 576px) {
  .d-sm-none {
    display: none !important;
  }

  .d-sm-block {
    display: block !important;
  }

  .d-sm-inline-block {
    display: inline-block !important;
  }

  .d-sm-flex {
    display: flex !important;
  }
}
@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }

  .d-md-block {
    display: block !important;
  }

  .d-md-inline-block {
    display: inline-block !important;
  }

  .d-md-flex {
    display: flex !important;
  }
}
@media (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }

  .d-lg-block {
    display: block !important;
  }

  .d-lg-inline-block {
    display: inline-block !important;
  }

  .d-lg-flex {
    display: flex !important;
  }
}
@media (min-width: 1200px) {
  .d-xl-none {
    display: none !important;
  }

  .d-xl-block {
    display: block !important;
  }

  .d-xl-inline-block {
    display: inline-block !important;
  }

  .d-xl-flex {
    display: flex !important;
  }
}
@media (min-width: 1440px) {
  .d-xxl-none {
    display: none !important;
  }

  .d-xxl-block {
    display: block !important;
  }

  .d-xxl-inline-block {
    display: inline-block !important;
  }

  .d-xxl-flex {
    display: flex !important;
  }
}
