@mixin button() {
  .button {
    padding: 1.2px 6px;

    &--border {
      border: 1px solid $color-black;

      &:not(:last-child) {
        border-right: none;
      }

      &:last-child {
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
      }
    }
  }
}
