@import "./shared";

.is--hidden {
  display: none;
}

.cross {
  text-decoration: line-through;
}

app-header {
  display: block;
  font-family: sans-serif;
  padding: rem(16);
  background: rgb(165, 65, 65);
  border-radius: rem(8);
}
